<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <title>Scrape Articles</title>
</head>
<body>
    <form action="/" method="get">
        <input type="text" id="searchBar" name="url" placeholder="Inserisci l'url dell'articolo..." required>
        <button type="submit">search</button>
    </form>

    {% if articles %}
        <h1>Articles from {{url}}</h1>
        
        <table>
            <thead>
                <tr>
                    <th>Title</th>
                    <th>URL</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody id="tableBody">
                
            </tbody>
        </table>

        <script>
            const currentArticles = JSON.parse('{{ articles | tojson | safe }}');
            function generateTable() {
                const tableBody = document.getElementById('tableBody');
                tableBody.innerHTML = '';
                currentArticles.forEach((article, index) => {
                    const row = document.createElement('tr');
                    row.innerHTML = `
                        <td><strong>${article.title}</strong></td>
                        <td>${article.url ? `<a href="${article.url}" target="_blank">${article.url}</a>` : 'No URL available'}</td>
                        <td><button type="button" onclick="deleteRow(${index})">Delete</button></td>
                    `;
                    tableBody.appendChild(row);
                });
            }

            function deleteRow(index) {
                currentArticles.splice(index, 1);
                generateTable();
            }

            generateTable();
        </script>
    {% endif %}
</body>
</html>
